# Restart a systemd service
#
# Can be used in conjunction with a timer to restart a systemd service on a timer.
#
# The service name should be escaped using `systemd-escape` and given as the instance for this service.

[Unit]
Description=Restart %I systemd service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart %I
